<div id="educanal-header" style="display:none">
  <div class="educanal-header">
    <div><%= image_tag('/designs/themes/educanal/images/header-background.png', :class => 'educanal-banner') %></div>
  </div>
</div>

<script>
jQuery(function($) {
  $(document).ready(function(){
    $('#boxes').prepend($('#educanal-header').html());
    $('.box-3 .block .block-title').prepend("<div class='square' style='display:inline-block'>&nbsp;</div>");
    $('.box-3 .block .link-list-items li').prepend("<div class='square' style='display:inline-block'>&nbsp;</div>");
  });
});
</script>
