<%= link_to(image_tag("/designs/themes/educanal/images/educanal-logo.svg"), url_for(@profile.url)) %>
<form action="/search/articles" id="top-search" class="search_form clean" method="get" >
  <input name="query" placeholder="<%=_('Search on Noosfero')%>" />
  <input type="submit" class="button with-text icon-search hidden-submit submit" id="top-search-button" value="<%=_('Search')%>"/>
    <a class="button with-text icon-search" href="#" onclick="submit_form(this); return false;">
      <i class="fa fa-search" aria-hidden="true"></i>
      <span>Search</span>
    </a>
</form>

<nav id="educanal-menu">
  <ul>
    <li class="bg-violet"><%= link_to "Home", url_for(@profile.url) %></li>
    <li class="bg-red"><%= link_to "Eventos", url_for(@profile.public_profile_url) + '/events' %></li>
    <li class="bg-green"><%= link_to "Notícias", url_for(@profile.url) + '/noticias' %></li>
    <li class="bg-orange"><%= link_to "Sobre", url_for(@profile.url) + '/sobre' %></li>
  </ul>
</nav>
