@import url(../base/style.css);

#profile-header {
  position: relative;
  background-image: url(images/educanal.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center top;
  background-color: #1a1a1aff;
  max-height: none;
  height: 285px;
  padding-bottom: 0;
}

#navigation {
  height: 0;
  padding: 0;
  margin: 0;
}

#navigation #navigation-actions {
  height: 3em;
  background-color: #d1d1d1;
  border-radius: 5px;
  padding: 5px 10px;
  z-index: 15;
  position: absolute;
  right: 20px;
  top: 50px;
}

#navigation-actions * {
  color: black;
}

#navigation #site-title form#top-search {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 100;
}

#navigation #site-title > a {
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 12;
}

.controller-profile_design .educanal-header,
.controller-profile_design #navigation #site-title,
.controller-profile_design #educanal-menu {
  display: none;
}

#educanal-menu {
  position: absolute;
  top: 132px;
  right: 20px;
  z-index: 14;
}

#educanal-menu ul {
  display: flex;
}

#educanal-menu li {
  display: flex;
  padding: 1px 5px;
}

#educanal-menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.bg-violet {
  background-color: violet;
}
.bg-red {
  background-color: red;
}
.bg-green {
  background-color: green;
}
.bg-orange {
  background-color: orange;
}

/* LER: https://tableless.com.br/flexbox-organizando-seu-layout/

e3fefd*/

.text-editor-sidebar {

}

#title-bar {
  background-color: gray;
}
#title-bar h1 {
  color: white;
}
#chat-window {
  background: white;
}
#buddy-list #environment-logo {
  background-color: #BBB;
}

/* Members list*/
.profile-members-tabs-container .ui-corner-all{
  padding-bottom: 10px;
}

#boxes {
  position: relative;
}

.educanal-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}

.educanal-header img { margin-left: -25%; }

@media only screen and (max-width: 1280px) {
  .educanal-header img { margin-left: -30%; }
}

@media only screen and (max-width: 1024px) {
  .educanal-header img { margin-left: -50%; }
}

@media only screen and (max-width: 800px) {
  .educanal-header img { margin-left: -76%; }
}

@media only screen and (max-width: 600px) {
  .educanal-header img { margin-left: -115%; }
}

.educanal-header > div {
  margin-top: -140px;
  overflow: hidden;
}

.box-1 {
  background-color: white;
}

.boxes .box-2,
.boxes .box-3 {
  width: 25%;
  margin-left: 0;
  margin-right: 0;
  background-color: #c6e9af;
}

#content .box-3 .block .block-title {
  border-bottom: 0;
  position: relative;
  padding-left: 35px;
  margin-left: 5px;
}

.box-3 .block .block-title .square,
.box-3 .block .link-list-items .square {
  background-color: gray;
  border-radius: 7px;
  width: 30px;
  position: absolute;
  left: -5px;
  top: 0;
  bottom: 0;
}

.link-list-block .block-header {
  display: none;
}

.box-3 .block .link-list-items li {
  position: relative;
  padding: 0 !important;
  border: 0 !important;
  margin-left: 5px !important;
}

.box-3 .block .link-list-items li a {
  padding: 0 0 0 7px !important;
  font-weight: bold;
  font-size: 1.45em;
}

.box-3 .block:nth-child(1n) .block-title,
.box-3 .block .link-list-items li:nth-child(1n) {
  background-color: violet !important;
}

.box-3 .block:nth-child(1n) .block-title .square,
.box-3 .block .link-list-items li:nth-child(1n) .square {
  background-color: darkviolet !important;
}

.box-3 .block:nth-child(2n) .block-title,
.box-3 .block .link-list-items li:nth-child(2n) {
  background-color: pink !important;
}

.box-3 .block:nth-child(2n) .block-title .square,
.box-3 .block .link-list-items li:nth-child(2n) .square {
  background-color: deeppink !important;
}

.box-3 .block:nth-child(3n) .block-title,
.box-3 .block .link-list-items li:nth-child(3n) {
  background-color: red !important;
}

.box-3 .block:nth-child(3n) .block-title .square,
.box-3 .block .link-list-items li:nth-child(3n) .square {
  background-color: darkred !important;
}

.box-3 .block:nth-child(4n) .block-title,
.box-3 .block .link-list-items li:nth-child(4n) {
  background-color: orange !important;
}

.box-3 .block:nth-child(4n) .block-title .square,
.box-3 .block .link-list-items li:nth-child(4n) .square {
  background-color: darkorange !important;
}

.boxes .box-1,
.boxes .box-2,
.boxes .box-3 {
  padding-top: 80px;
}

#content .block {
  padding-top: 0;
  margin-top: 15px;
}

.box-2 .blocks,
.box-3 .blocks {
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.box-3 .blocks {
  border-radius: 10px;
}

@media only screen and (max-width: 660px) {
  .boxes .box-1 {
    width: 100%;
  }

  .boxes .box-2,
  .boxes .box-3 {
    display: none;
  }

  /*.no-boxes {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }*/
}

#content {
  padding: 0;
}

#content #members-tab ul.profile-list-members,
#content #admins-tab ul.profile-list-admins{
  margin: 10px auto;
}

.common-profile-list-block .profile-image{
  height: auto;
}

.common-profile-list-block .profile-image img{
  max-height: 80px;
  max-width: 80px;
}

.box-1 .common-profile-list-block span{
  width: 84px;
}

.box-1 .common-profile-list-block span.fn {
  margin-top: 5px;
  height: 25px;
  width: 80px;
}

.action-profile-send_mail .send-mail-recipients {
  color: #888888;
  padding: 10px;
  width: 475px;
  line-height: 15px;
}

form#file_upload_form .formfieldline label {
  display: inline-block;
  margin-right: 5px;
}

form#file_upload_form .formfieldline .formfield {
  display: inline-block;
}

form#file_upload_form .formfieldline .formfield select {
  width: 60%;
}

form#file_upload_form .button-bar a.icon-add {
  margin-right: 6px;
}

table.uploaded_files_table tr {
  border-top: 1px solid #ddd;
  height: 6em;
}

table.uploaded_files_table tr td:first-child {
  width: 70%;
}

table.uploaded_files_table tr:hover td {
  background-color: inherit;
}

table.uploaded_files_table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.hidden-submit {
  display: none !important;
}

i {
  font-size: 1.1em;
  margin-right: 4px;
}

body hr {
  margin: 25px 0 0 0;
  border-width: 1px;
  color: lightgrey;
  margin-top: 25px;
}

body textarea {
  font-size: 13px;
  border-radius: 5px;
  padding: 6px;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  box-sizing: border-box;
  height: 50px;
}

body select {
  display: block;
  padding: 6px 70px 6px 12px;
  max-width: 100%;
  height: 100%;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background: url(/images/selectbox-down-arrow.png) right center no-repeat;
  background-color: #fff;
  color: #444444;
  font-size: 1.1em;
  line-height: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media only screen and (max-width: 960px) {
  body select {
    padding: 6px 40px 6px 12px;
  }
}
@media only screen and (max-width: 540px) {
  body select {
    padding: 6px 25px 6px 12px;
  }
}

body select option {
  padding: 0 4px;
}

select::-ms-expand {
  display: none;
}

select:disabled::-ms-expand {
  background: #f60;
}

a.remove-file {
  font-size: 1.4em;
  cursor: pointer;
}

#top-search {
  justify-content: center;
}

#search-button{
  height: 50% !important;
}

#crop-image {
  display: none;
  width: 700px;
  height: 540px;
  padding: 10px 8px;
}

#crop-image #cropbox {
  margin: auto;
}

#profile-footer {
  background-color: #EEE;
}

.mais-transmissoes {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.mais-transmissoes li {
  margin: 30px 0;
}
